html, body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
}
#inputArea, #outputArea {
	flex: 1;
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#inputArea {
	margin-top: 1em;
}

textarea {
	flex: 1;
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	resize: none;
}

#outputText {
	flex: 1;
	height: 90vh;
	overflow-y: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	border: 1px solid #ccc;
	background: white;
	padding: 8px;
	box-sizing: border-box;
	margin-top: 8px;
}

button {
	margin: 6px 4px;
	padding: 6px 10px;
	font-size: 14px;
	cursor: pointer;
}

.sentence {
	display: flex;
	justify-content: space-between;
	display: block;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	margin-bottom: 1em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 1em; /* Add padding so content doesn't touch edges */
	border-radius: 4px; /* Optional: soften corners */
}

.word-visible {
	color: black;
	background: none;
	border: none;
	font: inherit;
	padding: 0 2px;
	margin: 0;
}

.word-hidden {
	color: #666;
	background: #dadada;
	border-radius: 3px;
	padding: 0 4px;
	font-style: italic;
}

.word-hidden.article {
	background: #F2F2F2;
}

.word-hidden.preposition {
	background: #f9f5d7;
}

@media (max-width: 600px) {
	textarea, #outputText {
		font-size: 16px;
	}
}

.hidden {
	display: none !important;
}
